#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <behaviors/runtime_macro.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };
    };

    // Compile-time default for the editable DYA Studio combo slot.
    // Source: https://github.com/cormoran/zmk-feature-runtime-combo/blob/d9490e7b5d41c516221d131241009e81740efcee/README.md#compile-time-default-combos
    runtime_combo_defaults {
        compatible = "cormoran,runtime-combo-defaults";

        kana {
            slot = <0>;
            key-positions = <42 43>;
            bindings = <&kp LANG1>;
            display-name = "KANA";
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB                    &kp Q    &kp W           &kp E          &kp R                &kp T               &kp Y         &kp U      &kp I       &kp O         &kp P       &lt 8 BACKSPACE
&mt LEFT_CONTROL ESCAPE    &kp A    &kp S           &kp D          &kp F                &kp G               &kp H         &kp J      &kp K       &kp L         &lt 3 SEMICOLON    &kp SQT
&kp LEFT_SHIFT             &kp Z    &kp X           &kp C          &kp V                &kp B               &kp N         &kp M      &kp COMMA   &kp PERIOD    &kp SLASH   &kp INT1
                           &kp ESCAPE    &mo 5    &kp 1074200800    &kp LEFT_ALT    &mt LEFT_GUI LANG2    &lt 1 SPACE    &lt 4 SPACE    &lt 1 RETURN    &none    &none
            >;
        };

        layer_1 {
            bindings = <
&kp GRAVE    &kp 34013214    &kp 34013215    &kp 34013216    &kp 34013217    &kp 34013218    &kp 34013219    &kp 34013220    &kp 34013221    &kp 34013222    &kp 34013223    &kp BACKSPACE
&none        &kp C_BRI_DN    &kp C_BRI_UP    &kp C_PREVIOUS    &kp C_PLAY_PAUSE    &kp C_NEXT    &kp MINUS    &kp EQUAL    &kp LEFT_BRACKET    &kp RIGHT_BRACKET    &kp NON_US_HASH    &kp INT3
&trans       &none    &none    &kp C_MUTE    &kp C_VOLUME_DOWN    &kp C_VOLUME_UP    &kp COMMA    &kp PERIOD    &kp SEMICOLON    &kp SQT    &kp SLASH    &none
             &none    &none    &none    &trans    &trans    &trans    &trans    &none    &none    &none
            >;
        };

        MOUSE {
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &mkp MB4    &mkp MB5    &mkp MB3    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &mkp MB1    &mkp MB2    &trans      &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &kp 17236048    &kp 17236049    &kp 17236050    &kp 17236047    &trans    &trans
          &trans    &trans    &trans    &trans    &kp LEFT_GUI    &trans    &trans    &trans    &trans    &trans
            >;
        };

        SCROLL {
            bindings = <
&bt BT_CLR        &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &trans    &trans    &trans    &trans    &trans    &trans
&bt BT_CLR_ALL    &trans          &trans          &trans          &trans          &trans          &trans    &trans    &trans    &trans    &trans    &trans
&trans            &trans          &trans          &trans          &trans          &trans          &trans    &trans    &trans    &trans    &trans    &trans
                  &studio_unlock    &trans    &trans    &trans    &trans    &trans    &studio_unlock    &trans    &trans    &trans
            >;
        };

        layer_4 {
            bindings = <
&kp 34013237    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6       &kp N7       &kp N8         &kp N9          &kp N0             &trans
&trans          &trans    &trans    &trans    &trans    &trans    &kp LEFT     &kp DOWN     &kp UP         &kp RIGHT       &kp ESCAPE         &kp KP_EQUAL
&trans          &trans    &trans    &trans    &trans    &trans    &kp COMMA    &kp KP_DOT   &kp KP_PLUS    &kp KP_MINUS    &kp KP_ASTERISK    &kp KP_DIVIDE
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        layer_5 {
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &kp 134676488    &kp 134676487
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans          &kp 185008161
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans          &trans
          &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        layer_6 {
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
          &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        gesture1_layer {
            display-name = "GESTURE1";
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
          &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        gesture2_layer {
            display-name = "GESTURE2";
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
          &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        gesture3_layer {
            display-name = "GESTURE3";
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
          &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        gesture4_layer {
            display-name = "GESTURE4";
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
          &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };
    };
};
